<style>
    .test_notice {
        align-items: center;
        background: yellow;
        text-align: center;
    }
</style>
<header class="navbar-header">

    <h1 class="test_notice">TEST</h1>
    <nav class="navbar">

        <div class="navbar-center">
            <a href="/test" class="navbar-brand">
                <img src="/static/dinosaur_xyz_logo.png" alt="Dinosaur Icon" class="dinosaur-icon">
            </a>
        </div>

        <div class="navbar-right">
            <a href="/test/auth" class="auth-button">sign in</a>
        </div>
    </nav>
</header>